
* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin:0;
    padding:0
}
.blue{
    width:100%;
    background-color: #000018;
    position: fixed;
    display: block;
    height: 30px;
    top:0px;
    z-index:100000;
}

h1{ color: white;
    font-size:3vw;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 115, 0), 0 0 5px rgb(139, 32, 0);

}
h2{ color: white;
    font-size:1.5vw;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 115, 0), 0 0 5px rgb(139, 32, 0);

}
.mobile{
    display: none;
}
.ali{
    border-radius: 50%;
}
.reg{
    width:50%;
}
.columna {
    float: left;
    background-image: url('../images/About.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.columnat {
    float: left;
    background-image: url('../images/About.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.columnt {
    float: left;
    width: 70%;
    padding: 0px;
    height: auto; 
    
}
form{
    width:80%;
    border:solid 10px #ffffff;
    padding-left: 30px;
    margin: auto;
    
}
.columna2 {
    float: left;
    width: 70%;
    padding: 10px;
    height: 300px; 
}
/* Add padding to containers */
.container {
    padding: 16px;
    background-color: darkorange;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container2 {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    width:70%;
}
/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color:#000018;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
.nav{
   
    width: 100%;
    background-color: #ffffff;
    height:48px;
    top:30px;
    position: relative;

}
.ist{
    height:30.33vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    height: 100%;
    text-align: center;
    background-color: #f1f1f1;
  }

.left{
    left:50%;
    display:block;
    height:50vh;
    width:40vw;
    background-color: transparent;
    position: absolute;
    top:30vh;
    float: right;
    z-index:100;
    overflow: hidden;
}
.logo{
    border: solid 1px rgb(252, 136, 5);
    width:15vw;
    height:15vh;
    position:fixed;
    display: block;
    margin-left: 80vw;
    z-index: 100000;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    z-index: 1000000;
}
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70%;
    height: auto;
    position: relative;
    background-color: ffffff;
    text-decoration: none;
    
  }
  
  ul.sidenav li a {
    
    background-color: #ffffff;
    color: #000;
    float: left;
    padding: 15px;
    text-decoration: none;
    width: 80px;
    border:0px;
  }
   
  ul.sidenav li a.active {
    background-color: rgb(252, 136, 5);
    color: #000;
    text-decoration: none;
  }
  
  ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: rgb(252, 136, 5);
    text-decoration: none;
  }
  ul.sidenav li a:hover:a.active {
    background-color: darkorange;
    color: rgb(252, 136, 5);
  }
  div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
  }
  .mr{
      height: 100%;
  }
  .parallax {
    /* The image used */
    background-image: url('../images/coffee.jpg');
    /* Full height */
    height: 80%; 
    width:100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxx {
    /* The image used */
    background-image: url('../images/coffee2.jpg');
    /* Full height */
    height: 30%; 
    width:auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxxx {
    /* The image used */
    background-image: url('../images/coffee3.jpg');
    /* Full height */
    height: 30%; 
    width:auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxxxy {
    /* The image used */
    background-image: url('../images/coffee5.jpg');
    /* Full height */
    height: 30%; 
    width:auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ribbon{
position: relative;
padding-top:10vh;
height:10px;
}
.about{
    width:70vw;
    height:60%;
    background-color: ghostwhite;
    text-align: center;
    margin: auto;
}
.cent{
    text-align: center;
    display:block;
    height:50vh;
    width:100vw;
    background-color: transparent;
    position: absolute;
    top:17vh;
    float: right;
    z-index:100;
    overflow: hidden;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
   
}
.serv{
    width:20%;
    margin-left: 10%;

}
div.intro{
    height:30vh;
    background-color: darkorange;
    color: #f1f1f1;
}
.title{
    font-size: 2rem;
    text-align: center;
    font-weight:500;
}
p.content{
    font-size: 1.2rem;
    text-align: center;
    text-indent: 10px;

}

.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
   height:40vh;
    left: 0;
    bottom: 0;
	padding-top: 50px;
	margin-top: 18vh;
}

.footer .footer-company-motto{
	color:  #8d9093;
	font-size: 1.5vw;
	margin: 0;
}

.footer .footer-company-name{
	color:  #8d9093;
	font-size: 14px;
	margin: 0;
}

.footer .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #8d9093;
	padding: 35px 0 23px;
	margin: 0;
}

.footer .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.ribbon{
    height: 10vh;
    margin-top:0px
  }
  
  @media screen and (max-width: 900px) {
    ul.sidenav {
        text-align: center;
      width: 25%;   
      height: 95vh; 
      background-color: #ffffff;
      position: fixed;
      overflow: auto;
      margin: 0;
      padding: 0;
      border:solid 1px rgb(252, 136, 5);
    }
    .logo{
        background-image: url('../images/logo2.png');
    }

    
    ul.sidenav li a {
      padding: 8px 16px;
      display: block;
      color: #000;
      float: none;
      text-align: center;
    text-decoration: none;

    }
    
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    ul.sidenav {
        display: none;
        float:center;
        width: 100vw;
        top:8vh;   
        height: auto; 
        position: fixed;
        overflow: auto;
        margin: 0;
        padding: 0;
        z-index:1000;
      }

    ul.sidenav li a {
      text-align: center;
      width: 100%;
    text-decoration: none;
    }
  
    .logo{
        display:none;
         
    }
    .card{
        height:200%;
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    }
    .ist{
        height:90vw;
        border:solid 10vw #f1f1f1;
    }
    .left{
        left:10%;
        display:block;
        height:50vh;
        width:70vw;
        background-color: transparent;
        position: absolute;
        top:30vh;
        float: right;
        z-index:100;
        overflow: auto;
    }
    .ribbon{
      display: none;
    }
    .serv{
        width:100%;
        margin-left: 0%;
        height:20vh;

    }
    .hide{
        display: block;
        text-align: center;
        width:100%;
    }
    
h1{ color: white;
    font-size:7vw;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 115, 0), 0 0 5px rgb(139, 32, 0);

}
h2{ color: white;
    font-size:4vw;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 115, 0), 0 0 5px rgb(139, 32, 0);

}
    .mobile{
        display: block;
        position:fixed;
        width:100vw;
        height:7vh;
        background-color:#000;
        color:darkorange;
        font-size: 3vmax;
        z-index:1000;
    }
    
    .column{
        width:100%;
        height:auto;
        position: relative;
        display:block;
    }
   .footer .footer-company-motto{
        color:  #8d9093;
        font-size: 5vw;
        width:100%;
        margin: 0;
    }
    .footer{
        padding: 15vh;
        height:74vh;
        bottom:0px;
	}



	.footer .footer-company-name{
		font-size: 5vw;
	}

	.footer .footer-links{
		font-size: 5vw;
		padding: 25px 0 20px;
	}

	.footer .footer-links a{
		line-height: 1.8;
	}
}


/* If you don't want the footer to be responsive, remove these media queries */



